<!DOCTYPE html>
<html>
  <head>
    <title>Word Counter</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  </head>

  <body>
    <h1> Welcome to the puppy adoption site!</h1>

    <a href="/new">List A Puppy</a>
  </body>
</html>